html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: rgb(214, 180, 232);
  box-shadow: 3px 3px 3px rgba(97, 108, 111, 0.306);
}

.nav__img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 5px;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.247));
}
.nav__img:hover {
  scale: 1.1;
  transition: 0.7s;
}

.nav__link {
  margin: 10px;
  font-weight: bold;
  width: 1px;
  text-decoration: none;
  color: #fff;
  position: inherit;
}

.nav__link:hover {
  color: #452896;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 30px;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .nav__img {
    width: 100%;
  }

  .nav__bar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    /* border-bottom: 1px solid #e0e0e0; */
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.247));
  }

  .nav__link {
    margin: 10px;
  }
  .nav__link:hover {
    text-underline-offset: none;
  }
}
