html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.landing__main {
    background-image: url(../Landing/landing.png);
    background-color: rgb(96, 196, 183);
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
}

.landing__title{
     
    position:absolute;
    width:45%;
    top:65%;
    left:50%;
    
}

.landing__title:hover{
    scale: 1.2;
    transition: 10s;
}

/* .button__text{
    color: rgb(0, 0, 0);
    font-family:system-ui;
    font-size: 12px;
    font-weight: bold;

} */

.button__text{
    /* height: 200px; */
    margin-right: 20px; 
    margin-bottom: 5px;
}

.button__container{
    position: absolute;
    width: 100%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nav__img{
    width: 150px;
    /* height: 200px; */
    margin-right: 20px; height: 80px;
    top:0;
    margin-top: 0px;
    margin-bottom: 5px;
}

.nav__img:hover{
    scale: 1.3;
    transition: 0.5s;
}

@media screen and (max-width: 850px){

    .landing__title{
        display: flex;
        /* top: 3px;
        left: 5px;
        right:5px; */
        position: static;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .button__Container{
        right: 0;
        bottom: 0;
        display: flex;
        position: static;
        width: 100%;
    }
    .img__nav{
        display: flex;
        font-size: 15px;
    }
    .landing__main {
        background-position: center;
    }
}