html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.landing__main {
  background-image: url(../Landing/landing2.png);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
}

.landing__title {
  position: center;
  width: 35%;
  padding-top: 15%;
}

.landing__title:hover {
  scale: 1.2;
  transition: 10s;
}

.button__text {
  margin-right: 20px;
  margin-bottom: 5px;
}

.button__container {
  position: absolute;
  width: 100%;
  bottom: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav__img {
  width: 50%;
  margin-right: 20px;
  height: 100%;
  top: 0;
  margin-top: 0px;
  margin-bottom: 5px;
}

.nav__img:hover {
  scale: 1.2;
  transition: 0.5s;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.137));
}

.footer__landing {
  bottom: 0;
  color: rgba(128, 128, 128, 0.767);
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.footer__link:link {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.767);
}
.footer__link:visited {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.767);
}

.footer__link:hover {
  text-decoration: none;
  color: #6860e8;
}

@media (max-width: 1000px) {
  .landing__title {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 1% 1% 2%;
    /* margin: 10% 10% 10% 10%;
    filter: drop-shadow(2px 2px 0px rgb(255, 255, 255)); */
  }

  .landing__title {
    width: 75%;
    min-width: 200px;
  }
  .landing__main {
    /* background-position: right; */
    background-position: left 90% center;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    /* filter: drop-shadow(1px 1px 1px rgb(255, 255, 255)); */
  }

  .nav__img {
    margin-bottom: 80%;
  }
  .nav__img:hover {
    scale: 1.2;
    transition: 0.5s;
  }

  .footer__landing {
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
    display: inline-grid;
    margin-left: 15%;
    align-content: center;
    justify-content: space-between;
  }
  .footer__link:link {
    text-decoration: none;
    color: #ffffff;
  }
  .footer__link:visited {
    text-decoration: none;
    color: #ffffff;
  }
  .footer__link:hover {
    text-decoration: none;
    color: #6860e8;
  }
}
